/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
.theme-default-content
  img
    box-shadow 2px 2px 20px #f5f5f5
  ul
    font-size 0.9rem